* {
    font-family: 'Courier New', Courier, monospace;
    background-image: url(../assets/images/hubbledeep.png);
    color: #c4c9f6;
    
}

header {
    display: inline;
    text-align: center
   }

.longbox {
    display: flexbox;
    text-align: center;
    height: 70px;
    width: 900px;
    padding: 9px;
    border: 5px solid white;
    border-radius: 15%;
    margin-left: auto;
    margin-right: auto;
    background-image: none;  
}

.bigbox{
    display: flexbox;
    text-align: center;
    height: 600px;
    width: 900px;
    padding: 9px;
    border: 5px solid white;
    border-radius: 15%;
    margin-left: auto;
    margin-right: auto;
    background-image: none; 
}

maryheader1 {
    font-size: 2em;
    font-weight:bold;
  }

#mary {
    position: relative;
    display: inline-flex;
    height: 70px;
    width: 70px;
    }

#traditionalart {
        position: relative;
        display: inline-flex;
        height: ;
        }    

/* Tablets - */
@media screen and (max-width: 992px) 
 {
    .longbox {
      width: 50%;
      height: 50%;
      border-radius: 50%;
     }
    maryheader1::after {
        color: hotpink;
        content: ":)"; 
    }      
    #mary {
        display: none; 
    }
}    

  
  /* Large smartphones */
  @media screen and (max-width: 768px) 
  {
    .longbox {
      width: 50%;
      height: 50%;
      border-radius: 50%;
     }
    maryheader1::after {
        color: red;
        content: ">:("; 
    }      
    #mary {
        display: none; 
    }
}  {
    * {
      background-color: #cf7378;
      }
    }

  
  /* Small smartphones */
  @media screen and (max-width: 576px) 
  {
    .longbox {
      width: 50%;
      height: 50%;
      border-radius: 50%;
     }
    maryheader1::after {
        color: blue;
        content: ":P"; 
    }      
    #mary {
        display: none; 
    }
}  {
    * {
      background-color: #cf7378;
      }
    }
